html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 137.4rem;
  padding: 0 1.5rem;
}

.title {
  font-size: 3.5rem;
  line-height: 137%;
  font-weight: 700;
  color: #35312e;
}
@media (max-width: 1280px) {
  .title {
    font-size: 3rem;
    line-height: 137%;
    font-weight: 700;
    color: #35312e;
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: 2.8rem;
    line-height: 137%;
    font-weight: 700;
    color: #35312e;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
    line-height: 137%;
    font-weight: 700;
    color: #35312e;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 2rem;
    line-height: 137%;
    font-weight: 700;
    color: #35312e;
  }
}

.header__up {
  font-size: 1.2rem;
  line-height: 170%;
  font-weight: 400;
  color: #670a18;
  padding: 1rem;
  background-color: #f0eedd;
  text-align: center;
  text-transform: uppercase;
}
.header__down {
  position: relative;
  padding: 3rem;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 13.1rem;
}
.header__logo img {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__block {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.menu__link {
  font-size: 1.3rem;
  line-height: 170%;
  font-weight: 700;
  color: #35312e;
  text-transform: uppercase;
}
.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .header__logo {
    position: static;
    transform: translate(0, 0);
    margin: 0 auto 3rem;
    max-width: 10rem;
  }
  .menu {
    justify-content: center;
    gap: 3.5rem;
  }
}
@media (max-width: 480px) {
  .menu {
    gap: 2.5rem;
  }
  .menu__block {
    gap: 2.5rem;
  }
}
.hero {
  position: relative;
  width: 100%;
  height: 60.48rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/hero.png");
  background-size: cover;
  background-position: left bottom;
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.hero__subtitle {
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: 400;
  color: #35312e;
  margin-bottom: 0.9rem;
  text-transform: uppercase;
}
.hero__title {
  font-size: 5rem;
  line-height: 144%;
  font-weight: 400;
  color: #35312e;
  margin-bottom: 5.7rem;
  display: flex;
  flex-direction: column;
}
.hero__title span:last-child {
  text-decoration: underline;
}
.hero__button {
  width: 24.8rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 170%;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #d37657;
  color: #ffffff;
}
@media (max-width: 480px) {
  .hero__button {
    font-size: 1.1rem;
  }
}

@media (max-width: 1300px) {
  .hero {
    height: 50rem;
  }
  .hero__content {
    left: 40%;
  }
}
@media (max-width: 1024px) {
  .hero {
    height: 40rem;
  }
  .hero__button {
    width: 20rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 170%;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #d37657;
    color: #ffffff;
  }
}
@media (max-width: 1024px) and (max-width: 480px) {
  .hero__button {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 4rem;
    line-height: 144%;
    font-weight: 400;
    color: #35312e;
    margin-bottom: 4rem;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 30rem;
  }
}
@media (max-width: 600px) {
  .hero__content {
    left: 48%;
    text-align: center;
  }
  .hero__button {
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 170%;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #d37657;
    color: #ffffff;
    margin: 0 auto;
  }
}
@media (max-width: 600px) and (max-width: 480px) {
  .hero__button {
    font-size: 1.1rem;
  }
}
@media (max-width: 600px) {
  .hero__title {
    font-size: 3rem;
    line-height: 120%;
    font-weight: 400;
    color: #35312e;
    margin-bottom: 3rem;
  }
}
@media (max-width: 480px) {
  .hero {
    height: 25rem;
  }
  .hero__title {
    margin-bottom: 2rem;
  }
  .hero__button {
    width: 14rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 170%;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #d37657;
    color: #ffffff;
  }
}
@media (max-width: 480px) and (max-width: 480px) {
  .hero__button {
    font-size: 1.1rem;
  }
}
@media (max-width: 375px) {
  .hero {
    height: 20rem;
  }
  .hero__subtitle {
    font-size: 1.2rem;
    line-height: 100%;
    font-weight: 400;
    color: #35312e;
  }
}
.cookware {
  padding: 4.4rem 0;
  background-color: #f5f1e9;
}
.cookware__title {
  margin: 0 auto 4.5rem;
  max-width: 64rem;
  text-transform: uppercase;
  text-align: center;
}
.cookware__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .cookware__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem 2rem;
  }
  .cookware__item {
    flex: 0 1 30%;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .cookware__item {
    flex: 0 1 48%;
  }
}
.welcome {
  padding: 12rem 0;
}
.welcome__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.welcome__title {
  max-width: 30rem;
  text-align: center;
}
.welcome__info {
  font-size: 1.6rem;
  line-height: 162%;
  font-weight: 400;
  color: #4f463f;
  max-width: 65rem;
}

@media (max-width: 1024px) {
  .welcome {
    padding: 6rem 0;
  }
  .welcome__items {
    flex-direction: column;
  }
  .welcome__info {
    max-width: 100%;
  }
}
.designed {
  padding: 7rem 0 14rem;
  background-color: #fbf6ea;
}
.designed__title {
  margin-bottom: 5.28rem;
  text-align: center;
}
.designed__colors {
  margin-bottom: 4.52rem;
}
.designed__content {
  display: flex;
  justify-content: center;
}
.designed__content img {
  max-width: 56.2rem;
}
.designed__content-part {
  position: relative;
  width: 1px;
}
.designed__text {
  font-size: 1.2rem;
  line-height: 129%;
  font-weight: 400;
  color: #6e6259;
  display: block;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.colors__item-big {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.rose {
  background-color: #e09d81;
}

.blue {
  background-color: #748ea1;
}

.brown {
  background-color: #b76d47;
}

.green {
  background-color: #7d836e;
}

.red {
  background-color: #c33636;
}

.grey {
  background-color: #cdc7b3;
}

.black {
  background-color: #595752;
}

.violet {
  background-color: #d3c2ca;
}

.white {
  background-color: #ffffff;
}

.text1 {
  top: 8.3rem;
  left: -12rem;
  width: 13.5rem;
}

.text2 {
  left: -5rem;
  top: 50%;
  width: 10.7rem;
}

.text3 {
  bottom: 3.4rem;
  left: -12rem;
  width: 17.2rem;
}

.text4 {
  top: 3.6rem;
  right: 0;
  width: 15.8rem;
}

.text5 {
  top: 50%;
  right: 0;
  width: 17.1rem;
}

.text6 {
  bottom: 9.4rem;
  right: 0;
  width: 16rem;
}

@media (max-width: 1024px) {
  .text1 {
    top: -1rem;
    left: 0;
  }
  .text2 {
    left: 0;
    top: 40%;
  }
  .text3 {
    bottom: -4rem;
    left: 0;
  }
}
@media (max-width: 768px) {
  .designed__text {
    font-size: 1rem;
    line-height: 129%;
    font-weight: 400;
    color: #6e6259;
  }
}
@media (max-width: 600px) {
  .designed {
    padding: 4rem 0 7rem;
  }
  .designed__content img {
    width: 100%;
  }
  .text6 {
    bottom: 4rem;
  }
}
@media (max-width: 480px) {
  .colors__item-big {
    width: 2.5rem;
    height: 2.5rem;
  }
  .text2 {
    width: 7rem;
  }
  .text4,
  .text5 {
    width: 14rem;
  }
}
@media (max-width: 374px) {
  .designed__text {
    font-size: 0.8rem;
    line-height: 129%;
    font-weight: 400;
    color: #6e6259;
  }
  .colors__item-big {
    width: 2rem;
    height: 2rem;
  }
  .text1,
  .text5 {
    width: 8rem;
  }
  .text2 {
    top: 35%;
  }
  .text4 {
    width: 9rem;
    top: 2rem;
  }
  .text6 {
    bottom: 3rem;
    right: -4rem;
  }
}
.products {
  padding: 8rem 0;
}
.products__title {
  margin: 0 auto 1.8rem;
  max-width: 47.7rem;
  text-align: center;
}
.products__text {
  font-size: 1.8rem;
  line-height: 161%;
  font-weight: 400;
  color: #4f463f;
  margin: 0 auto 7.54rem;
  max-width: 44.1rem;
}
.products__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
}
.product-card__img {
  width: 100%;
  height: 22.9rem;
  border-radius: 50%;
  background-color: #fcfaf6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__img img {
  max-width: 100%;
}
.product-card__body {
  flex: 1 1 auto;
}
.product-card__title {
  font-size: 1.4rem;
  line-height: 170%;
  font-weight: 400;
  color: #35312e;
  margin-bottom: 0.42rem;
  text-transform: uppercase;
}
.product-card__subtitle {
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 400;
  color: #4f463f;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}
.product-card__text {
  font-size: 1.1rem;
  line-height: 178%;
  font-weight: 400;
  color: #4f463f;
  max-width: 18rem;
  margin: 0 auto 1rem;
}
.product-card__colors {
  min-height: 5.5rem;
  align-items: start;
}

.colors__item-little {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.colors__item-little_active {
  border: 0.3rem solid #6e6259;
}

@media (max-width: 1024px) {
  .products__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .product-card__img {
    height: 20rem;
  }
}
@media (max-width: 480px) {
  .products {
    padding: 6rem 0;
  }
  .products__items {
    grid-template-columns: 1fr;
  }
}
.dishes__items {
  height: 48rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}
.dishes__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-dishes {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f1e9;
}
.content-dishes__block {
  max-width: 45rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-dishes__subtitle {
  font-size: 1.1rem;
  line-height: 185%;
  font-weight: 400;
  color: #35312e;
  margin-bottom: 3.3rem;
  text-transform: uppercase;
}
.content-dishes__title {
  margin-bottom: 6.1rem;
}
.content-dishes__button {
  width: 20.6rem;
  height: 5.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 170%;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #4f463f;
}
@media (max-width: 480px) {
  .content-dishes__button {
    font-size: 1.1rem;
  }
}

@media (max-width: 1024px) {
  .dishes__items {
    height: 35rem;
  }
}
@media (max-width: 768px) {
  .dishes__items {
    height: auto;
    grid-template-columns: 1fr;
  }
  .dishes__img {
    height: 45rem;
  }
  .dishes__content {
    padding: 3rem 1rem;
  }
}
@media (max-width: 480px) {
  .dishes__img {
    height: 35rem;
  }
}
.footer {
  background-color: #6c674d;
  padding: 8rem 0 11.4rem;
  color: #f5f1e9;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.form__title {
  font-size: 2.3rem;
  line-height: 251%;
  font-weight: 700;
  color: #f5f1e9;
  margin-bottom: 1.1rem;
}
.form__text {
  font-size: 1.4rem;
  line-height: 171%;
  font-weight: 400;
  color: #f5f1e9;
  margin-bottom: 6.22rem;
}
.form__block {
  display: flex;
  gap: 0;
}
.form__input {
  font-size: 1.3rem;
  line-height: 444.6%;
  font-weight: 400;
  color: #4f463f;
  width: 34.7rem;
  padding: 0.5rem 2rem;
}
.form__button {
  font-size: 1.2rem;
  line-height: 100%;
  font-weight: 700;
  color: #4f463f;
  background-color: #ffffff;
  width: 10.1rem;
  text-transform: uppercase;
}

.navigation__up {
  margin-bottom: 5rem;
  display: flex;
  align-items: start;
  gap: 2.8rem;
}
.navigation__title {
  font-size: 1.2rem;
  line-height: 170%;
  font-weight: 700;
  color: #f5f1e9;
  margin-bottom: 0.92rem;
  text-transform: uppercase;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 0.92rem;
}
.navigation__link {
  font-size: 1.6rem;
  line-height: 191%;
  font-weight: 400;
  color: #f5f1e9;
  opacity: 0.6;
  transition: all 0.5s ease;
}
.navigation__link:hover {
  text-decoration: underline;
}
.navigation__down-title {
  font-size: 1.2rem;
  line-height: 170%;
  font-weight: 700;
  color: #f5f1e9;
  margin-bottom: 0.92rem;
}
.navigation__down-images {
  display: flex;
  gap: 2.4rem;
}

@media (max-width: 1024px) {
  .footer__items {
    flex-direction: column;
    gap: 7rem;
  }
  .navigation__up {
    justify-content: space-between;
  }
  .navigation__list {
    gap: 2rem;
  }
  .navigation__title {
    font-size: 1.6rem;
    line-height: 170%;
    font-weight: 700;
    color: #f5f1e9;
  }
  .navigation__link {
    font-size: 1.8rem;
    line-height: 191%;
    font-weight: 400;
    color: #f5f1e9;
  }
}
@media (max-width: 480px) {
  .form__input {
    width: 100%;
  }
  .navigation__title {
    font-size: 1.2rem;
    line-height: 170%;
    font-weight: 700;
    color: #f5f1e9;
  }
  .navigation__link {
    font-size: 1.6rem;
    line-height: 191%;
    font-weight: 400;
    color: #f5f1e9;
  }
}